/*imported fonts from google font*/
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Manrope:wght@400;500&family=Monoton&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Manrope:wght@400;500&family=Monoton&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Manrope:wght@400;500&family=Monoton&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Manrope:wght@400;500&family=Monoton&family=Montserrat:wght@500&family=Open+Sans:wght@700&display=swap');

/* global CSS */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background: #111;
}
/*css for head */
div.head{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
    align-items: center;
    flex-wrap: wrap;
}

/*adding style to logo*/
div a.logo{
    color:white;
    font-size: 2.3em; 
    font-family: 'Monoton', sans-serif;
    letter-spacing: 1px;  
    margin-right: auto;
    text-decoration: none;
    cursor: pointer;
}
/*adding color to span text*/
a.logo span{
    color: red;
    font-family: 'Monoton', sans-serif;
}


/*adding styles to navigation list*/
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

/*adding style to navitaiton link*/
nav ul li a{
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0 30px 0 0;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}
/*adding hover effect on nav links*/
nav ul li a:hover{
    color: red;
    transition: .5s;
}

/*stying main*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.content-right{
    max-width: 700px;
    height: auto;
}

.intro{
    width: 38%;
    margin-top: 10%;
}

/*Styling intro section*/
div.intro h1{
    color:white;
    font-size: 3rem;
    font-family: 'Angkor', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
div.intro h2 span{
    color: red;
}

div.intro h2{
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

div.intro p{
    color: whitesmoke;
    line-height: 25px;
    margin:20px 0;
    font-family: 'Manrope', sans-serif;
    font-family: monospace;
    letter-spacing: 2px;
}

div.intro a{
    color:white;
    background: red;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: inherit;
    display: inline-block;
    border-radius: 25px;
   
}

div.intro a:hover{
color:  black;
}

div.about-container {
    width: 80%;
    height: auto;
    background-color: #e7e7e7;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 30px;
 }

 div.about-container img{
    max-width: 400px;
    padding: 1% 0;
    height: auto;
 }

div.about-txt{
    width: 700px;
 }


div.about-txt h1{
    color: #403e3e;
    font-size: 39px;
    line-height: 0%;
    margin-bottom: 27px

}

div.about-txt h3{
    font-size: 20px;
    color: #942f2f;
    margin-bottom: 19px;
}
div.about-txt p{
    color: #5d5a5a;
    line-height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
}

div.app-container{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    background-color: #e7e7e7;
    padding-bottom: 2em;
}

div.work{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.title h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #403e3e;
    font-size: 39px;
    margin: 2rem 0 0 0;
}

.app, .app1{
    position: relative;
    margin: 1rem;
}

div.app1 img{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

div.app img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.app a h3, .app1 a h3{
    position: absolute;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    height: 2em;
    padding: 0.4em 0.4em 0 0.4em;
    color:#fff;
    border-radius: 0px 10px 0px 10px;
    left: 0em;
    bottom: 2px;
    letter-spacing: 0.1rem;
    background-color: rgb(54 72 167 / 88%);;
}
.app a h3:hover, .app1 a h3:hover{
    color: #111;
    opacity: 1; 
    transform: scale(1.2);
    transition: 0.3s ease 0.3s;
    filter: none;
}

.app img:hover, h3:hover, .app1 img:hover{
    opacity: 1; 
    transform: scale(1.1);
    transition: 0.5s ease 0.5s;
    filter: none;
    
}

footer{
    background: #111;
    display: flex;
    flex-direction: column;
    height: auto;
    padding:1rem;
    margin: 1px auto 0 auto;
    justify-content: center;
    width: 100vh;
    font-family: 'Manrope', sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    width: 100vh;
    border-top: 1px #fff solid;
    padding-top: 2rem;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 2rem;
    transition-delay: color .4s ease;
}

.social a:hover i{
    color: red;
}

.footer-bott{
    width:100vh;
    margin-top: -3rem;
    padding: 20px 0;
    text-align: center;
}

.footer-bott p{
    text-transform: capitalize;
    color: rgba(191, 188, 188, 0.897);
    word-spacing: 2px;
    font-size: 14px;

}

.footer-bott span{
    text-transform: uppercase;
    opacity: .8;
    color: red;
    font-size: 14px;
    font-weight: 200px;
}

